# Ejercicios Pair Programming - M√≥dulo 2 Sprint 2
## Lecci√≥n 1 - Limpieza-I

In [27]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_columns = None

In [5]:
df = pd.read_csv("attacks4.csv", index_col=0)

In [6]:
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,unnamed:_0,injury,mes,fatal,sex
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,0,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,6,FATAL,Jun,Y,M

Es el momento de empezar a limpiar nuestro dataframe que hemos ido viendo que est√° bastante sucio!
En este ejercicio trabajaremos con el dataframe que nos guardamos en la sesi√≥n de pair de Pandas VII.

Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro an√°lisis.

¬øEs Australia es el sitio m√°s peligroso y letal para estar relajada en la playa?

¬øCu√°l es el rango de edad que sufre la mayor√≠a de los ataques?

Independientemente de la edad, sufren los hombres m√°s ataques que las mujeres?

¬øEn qu√© mes ocurren m√°s ataques?

¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?

¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?

De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Si reducimos esto a una tabla para saber que tenemos ya limpito y que no:

Entre las tareas que tendr√©is que hacer hoy:

1.- Al empezar a trabajar con este dataframe ya eliminamos algunas columnas que a priori no nos interesaban. Ahora llega el momento de eliminar alguna columna m√°s. En este caso tendr√©is que eliminar las columnas que no nos sean √∫tiles para contestar a nuestras preguntas. Pero ojo ‚ö†Ô∏è, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.

In [7]:
df_limpio = df.copy()

In [8]:
df_limpio.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,unnamed:_0,injury,mes,fatal,sex
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,0,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,6,FATAL,Jun,Y,M

In [10]:
df_limpio.drop(["case_number", "type", "area", "location", "activity", "name", "time", "href", "siglo", "unnamed:_0","injury"], axis=1, inplace=True)

In [38]:
df_limpio.head()

   year    country age          species_  mes fatal sex
0  2018        USA  57       White shark  Jun     N   F
1  2018     BRAZIL  18       Tiger shark  Jun     Y   M
2  2018        USA  15    Bull shark, 6'  May     N   M
3  2018  AUSTRALIA  32   Grey reef shark  May     N   M
4  2018    ENGLAND  21  Invalid incident  May     N   M

2.- ¬øHay valores duplicados en nuestro dataframe? En caso de que los haya, elimin√°ndlos.

In [12]:
df_limpio.duplicated().sum()

30

In [13]:
# Visualizamos antes de eliminar los duplicados las filas y columnas de nuestro dataframe
df_limpio.shape

(1672, 7)

In [14]:
df_limpio.drop_duplicates(inplace=True)

In [15]:
# Visualizamos al eliminar los duplicados las filas y columnas de nuestro dataframe. Como podemos ver se han eliminado los 30 duplicados.
df_limpio.shape

(1642, 7)

3.- Como hemos visto, algunas columnas no tienen el tipo de datos que deber√≠an. Cambiad el tipo de dato para la columna de year.

In [18]:
df_limpio["year"].dtypes

dtype('float64')

In [21]:
df_limpio["year"] = df_limpio["year"].astype("Int64", errors= "raise")

In [22]:
df_limpio["year"].dtypes

Int64Dtype()

4.- En la columna de country poner todos los valores en min√∫sculas.
üí° Pista Tendr√©is que usar una funci√≥n o una lambda üí°

In [33]:
df_limpio["country"].isnull().sum()

10

In [26]:
df_limpio["country"].dtypes

dtype('O')

In [39]:
def minusculas(pais):
    pais = str(pais).lower()
    if pais == "nan":
        return np.nan
    else:
        return pais

In [40]:
df_limpio["country"] = (df_limpio["country"].apply(minusculas))

In [41]:
df_limpio.head()

   year    country age          species_  mes fatal sex
0  2018        usa  57       White shark  Jun     N   F
1  2018     brazil  18       Tiger shark  Jun     Y   M
2  2018        usa  15    Bull shark, 6'  May     N   M
3  2018  australia  32   Grey reef shark  May     N   M
4  2018    england  21  Invalid incident  May     N   M

5.- Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza

In [42]:
df_limpio.to_csv("limpieza1.csv")

Happy coding ü¶à