# Pair Programming 
### Lección 15 - ETL IV - Carga I - Creación BBDD e insercion de datos

Es el momento de meter todos nuestros datos en SQL 💪🏽!!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendrá la información que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendrá la información obtenida en el ejercicio de pair de ETL 1.

📌 Nota Todo lo tendremos que hacer desde jupyter notebook

Cread la BBDD con el nombre de tiburones.

1. Cread las tablas de la BBDD:

    - Tabla ataques

    - Tabla clima

BONUS Insertar los datos en las tablas.

📌 Nota Esta parte del pair es optativa y no será considerada para la evaluación

🚨 En caso de que no tengáis los datos unidos de la sesión anterior, tenéis un csv datos_union_clima_ataques con todos los datos que necesitareis para este ejercicio

In [58]:
import pandas as pd
pd.options.display.max_columns = None
import mysql.connector
from mysql.connector import errorcode

In [59]:
df = pd.read_csv("etl2.csv", index_col = 0)
df.head(2)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,country2,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM,pais,index,timepoint,cloudcover,highcloud,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed,wind_direction_950mb,wind_direction_900mb,wind_direction_850mb,wind_direction_800mb,wind_direction_750mb,wind_direction_700mb,wind_direction_650mb,wind_direction_600mb,wind_direction_550mb,wind_direction_500mb,wind_direction_450mb,wind_direction_400mb,wind_direction_350mb,wind_direction_300mb,wind_direction_250mb,wind_direction_200mb,wind_speed_950mb,wind_speed_900mb,wind_speed_850mb,wind_speed_800mb,wind_speed_750mb,wind_speed_700mb,wind_speed_650mb,wind_speed_600mb,wind_speed_550mb,wind_speed_500mb,wind_speed_450mb,wind_speed_400mb,wind_speed_350mb,wind_speed_300mb,wind_speed_250mb,wind_speed_200mb,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,rh_450mb,rh_400mb,rh_350mb,rh_300mb,rh_250mb,rh_200mb
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882,HN,1,0,0,1,0,0,4,7,1,9.116327,usa,287.5,97.5,3.5625,-9999.0,-9999.0,-9999.0,12.71875,13.265625,4.8125,1022.96875,0.0,0.0,203.75,2.09375,222.8125,230.46875,276.875,279.921875,271.71875,267.1875,261.5625,261.015625,267.65625,263.671875,271.640625,260.234375,240.46875,235.390625,222.5,248.828125,2.34375,2.515625,2.953125,3.296875,3.53125,3.9375,4.296875,4.484375,4.609375,4.734375,4.96875,5.046875,5.078125,5.421875,5.640625,5.484375,4.1875,4.0,3.890625,3.640625,3.546875,3.265625,2.453125,1.703125,2.046875,3.28125,4.921875,5.046875,6.078125,6.65625,5.9375,5.734375
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.78373,-100.445882,HN,1,0,0,1,0,0,3,7,7,3.804860,usa,287.5,97.5,3.5625,-9999.0,-9999.0,-9999.0,12.71875,13.265625,4.8125,1022.96875,0.0,0.0,203.75,2.09375,222.8125,230.46875,276.875,279.921875,271.71875,267.1875,261.5625,261.015625,267.65625,263.671875,271.640625,260.234375,240.46875,235.390625,222.5,248.828125,2.34375,2.515625,2.953125,3.296875,3.53125,3.9375,4.296875,4.484375,4.609375,4.734375,4.96875,5.046875,5.078125,5.421875,5.640625,5.484375,4.1875,4.0,3.890625,3.640625,3.546875,3.265625,2.453125,1.703125,2.046875,3.28125,4.921875,5.046875,6.078125,6.65625,5.9375,5.734375

In [60]:
df.reset_index(inplace = True)
df.head(2)

,level_0,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,country2,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM,pais,index,timepoint,cloudcover,highcloud,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed,wind_direction_950mb,wind_direction_900mb,wind_direction_850mb,wind_direction_800mb,wind_direction_750mb,wind_direction_700mb,wind_direction_650mb,wind_direction_600mb,wind_direction_550mb,wind_direction_500mb,wind_direction_450mb,wind_direction_400mb,wind_direction_350mb,wind_direction_300mb,wind_direction_250mb,wind_direction_200mb,wind_speed_950mb,wind_speed_900mb,wind_speed_850mb,wind_speed_800mb,wind_speed_750mb,wind_speed_700mb,wind_speed_650mb,wind_speed_600mb,wind_speed_550mb,wind_speed_500mb,wind_speed_450mb,wind_speed_400mb,wind_speed_350mb,wind_speed_300mb,wind_speed_250mb,wind_speed_200mb,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,rh_450mb,rh_400mb,rh_350mb,rh_300mb,rh_250mb,rh_200mb
0,0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882,HN,1,0,0,1,0,0,4,7,1,9.116327,usa,287.5,97.5,3.5625,-9999.0,-9999.0,-9999.0,12.71875,13.265625,4.8125,1022.96875,0.0,0.0,203.75,2.09375,222.8125,230.46875,276.875,279.921875,271.71875,267.1875,261.5625,261.015625,267.65625,263.671875,271.640625,260.234375,240.46875,235.390625,222.5,248.828125,2.34375,2.515625,2.953125,3.296875,3.53125,3.9375,4.296875,4.484375,4.609375,4.734375,4.96875,5.046875,5.078125,5.421875,5.640625,5.484375,4.1875,4.0,3.890625,3.640625,3.546875,3.265625,2.453125,1.703125,2.046875,3.28125,4.921875,5.046875,6.078125,6.65625,5.9375,5.734375
1,1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.78373,-100.445882,HN,1,0,0,1,0,0,3,7,7,3.804860,usa,287.5,97.5,3.5625,-9999.0,-9999.0,-9999.0,12.71875,13.265625,4.8125,1022.96875,0.0,0.0,203.75,2.09375,222.8125,230.46875,276.875,279.921875,271.71875,267.1875,261.5625,261.015625,267.65625,263.671875,271.640625,260.234375,240.46875,235.390625,222.5,248.828125,2.34375,2.515625,2.953125,3.296875,3.53125,3.9375,4.296875,4.484375,4.609375,4.734375,4.96875,5.046875,5.078125,5.421875,5.640625,5.484375,4.1875,4.0,3.890625,3.640625,3.546875,3.265625,2.453125,1.703125,2.046875,3.28125,4.921875,5.046875,6.078125,6.65625,5.9375,5.734375

In [61]:
df.columns

Index(['level_0', 'year', 'type', 'country', 'age', 'species_', 'fecha_limpia',
       'fatal', 'sex', 'latitud', 'longitud', 'country2', 'fatal_N',
       'fatal_Unknown', 'fatal_Y', 'fatal_N.1', 'fatal_Unknown.1', 'fatal_Y.1',
       'species_.1', 'fecha_limpia.1', 'type.1', 'age_NORM', 'pais', 'index',
       'timepoint', 'cloudcover', 'highcloud', 'midcloud', 'lowcloud',
       'temp2m', 'lifted_index', 'rh2m', 'msl_pressure', 'prec_amount',
       'snow_depth', 'wind10m.direction', 'wind10m.speed',
       'wind_direction_950mb', 'wind_direction_900mb', 'wind_direction_850mb',
       'wind_direction_800mb', 'wind_direction_750mb', 'wind_direction_700mb',
       'wind_direction_650mb', 'wind_direction_600mb', 'wind_direction_550mb',
       'wind_direction_500mb', 'wind_direction_450mb', 'wind_direction_400mb',
       'wind_direction_350mb', 'wind_direction_300mb', 'wind_direction_250mb',
       'wind_direction_200mb', 'wind_speed_950mb', 'wind_speed_900mb',
       'wind_speed_850mb', 'wind_speed_800mb', 'wind_speed_750mb',
       'wind_speed_700mb', 'wind_speed_650mb', 'wind_speed_600mb',
       'wind_speed_550mb', 'wind_speed_500mb', 'wind_speed_450mb',
       'wind_speed_400mb', 'wind_speed_350mb', 'wind_speed_300mb',
       'wind_speed_250mb', 'wind_speed_200mb', 'rh_950mb', 'rh_900mb',
       'rh_850mb', 'rh_800mb', 'rh_750mb', 'rh_700mb', 'rh_650mb', 'rh_600mb',
       'rh_550mb', 'rh_500mb', 'rh_450mb', 'rh_400mb', 'rh_350mb', 'rh_300mb',
       'rh_250mb', 'rh_200mb'],
      dtype='object')

In [62]:
# Importamos librería
def conectar_bbdd(password):
    # Función para comprobar si se establece la conexión con el servidor
    # Parámetro password: string con la contraseña del servidor
    try:
        cnx = mysql.connector.connect(user = 'root', password = password, host = '127.0.0.1')
    # en el caso de que haya errores
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("Something is wrong with your user name or password")
        elif err.errno == errorcode.ER_BAD_DB_ERROR:
            print("Database does not exist")
        else:
            print(err)
    else:
        cnx.close()
        # Si devuelve close todo ha funcionado correctamente
        return "close"

In [63]:
contraseña = "AlumnaAdalab"

In [64]:
conectar_bbdd(contraseña)

'close'

Tenemos la conexión correcta con el servidor de SQL

In [65]:
def crear_bbdd(nombre_bbdd, password):
    # Función para crear una base de datos
    # Parámetro nombre_bbdd: string con el nombre de la base de datos a crear
    # password: string con la contraseña del servidor
    mydb = mysql.connector.connect(user = 'root', password = f"{password}", host = '127.0.0.1')
    #print("Conexión realizada con éxito")
    mycursor = mydb.cursor()
    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    else:
        mycursor.close()
        mydb.close()

In [66]:
my_bbdd = "tiburones"

In [67]:
crear_bbdd(my_bbdd, contraseña)

CMySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

In [68]:
def crear_insertar_tabla(nombre_bbdd, password, query):
    # Función para crear una tabla dentro de una base de datos
    # Parámetro nombre_bbdd: string con el nombre de la base de datos a insertar la tabla
    # password: string con la contraseña del servidor
    # query: consulta en SQL de creación de tabla
    cnx = mysql.connector.connect(user = 'root', password = password, host = '127.0.0.1', database = nombre_bbdd)
    mycursor = cnx.cursor()
    try:
        mycursor.execute(query)
        print(mycursor)
        cnx.commit()
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    else:
        mycursor.close()
        cnx.close()

In [69]:
tabla_ataques = """ CREATE TABLE IF NOT EXISTS `tabla_ataques`(
                    `level_0` FLOAT NOT NULL,
                    `type` VARCHAR(50), 
                    `country` VARCHAR(50), 
                    `age` VARCHAR(50),
                    `species_` VARCHAR(50),
                    `fatal_Unknown` VARCHAR(50), 
                    `sex` VARCHAR(50), 
                    `species_.1` VARCHAR(50), 
                    `year` FLOAT, 
                    `age_NORM` FLOAT, 
                    PRIMARY KEY (`level_0`))
                    ENGINE = InnoDB; """

In [70]:
tabla_clima = """ CREATE TABLE IF NOT EXISTS `tabla_clima`(
                    `level_0` FLOAT NOT NULL,
                    `timepoint` INT, 
                    `cloudcover` INT, 
                    `highcloud` INT,
                    `midcloud` INT,
                    `lowcloud` INT,
                    `temp2m` INT, 
                    `lifted_index` INT, 
                    `rh2m` VARCHAR(50), 
                    `msl_pressure` INT,
                    `prec_amount` INT,
                    `snow_depth` INT,
                    `wind10m.direction` VARCHAR(50), 
                    `wind10m.speed` INT, 
                    `pais` VARCHAR(50),
                    PRIMARY KEY (`level_0`),
                    CONSTRAINT `fk_ataques_clima`
                    FOREIGN KEY (`level_0`)
                    REFERENCES `tabla_ataques` (`level_0`))
                    ENGINE = InnoDB; """

In [71]:
crear_insertar_tabla(my_bbdd, contraseña, tabla_ataques)

CMySQLCursor:  CREATE TABLE IF NOT EXISTS `tabla_ataqu..

In [72]:
crear_insertar_tabla(my_bbdd, contraseña, tabla_clima)

CMySQLCursor:  CREATE TABLE IF NOT EXISTS `tabla_clima..

### Bonus

##### Insertar los datos en la tabla ataques

In [73]:
for indice, fila in df.iterrows():
    query_ataques = f""" INSERT INTO `tabla_ataques`(`level_0`, `type`, `country`, `age`, `species_`, `fatal_Unknown`, `sex`, `species_.1`, `year`, `age_NORM`)
                         VALUES ('{fila["level_0"]}', '{fila["type"]}', '{fila["country"]}', '{fila["age"]}', '{fila["species_"]}', '{fila["fatal_Unknown"]}', '{fila["sex"]}', '{fila["species_.1"]}', '{fila["year"]}', '{fila["age_NORM"]}');    
                    """
    crear_insertar_tabla(my_bbdd, contraseña, query_ataques)

CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..
CMySQLCursor:  INSERT INTO `tabla_ataques`(`level_0`, ..

#### Insertar los datos en la tabla clima

In [74]:
for indice, fila in df.iterrows():
    query_clima = f""" INSERT INTO `tabla_clima`(`level_0`, `timepoint`, `cloudcover`, `highcloud`, `midcloud`, `lowcloud`, `temp2m`, `lifted_index`, `rh2m`, `msl_pressure`, `prec_amount`, `snow_depth`, `wind10m.direction`, `wind10m.speed`, `pais`)
                         VALUES ('{fila["level_0"]}', '{fila["timepoint"]}', '{fila["cloudcover"]}', '{fila["highcloud"]}', '{fila["midcloud"]}', '{fila["lowcloud"]}', '{fila["temp2m"]}', '{fila["lifted_index"]}', '{fila["rh2m"]}', '{fila["msl_pressure"]}', '{fila["prec_amount"]}', '{fila["snow_depth"]}', '{fila["wind10m.direction"]}', '{fila["wind10m.speed"]}', '{fila["pais"]}');          
                    """
    crear_insertar_tabla(my_bbdd, contraseña, query_clima)

CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..
CMySQLCursor:  INSERT INTO `tabla_clima`(`level_0`, `t..